[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
boto3 = "~=1.16"
requests = "~=2.31"
requests-aws4auth = "~=1.0"

[dev-packages]
# pytest = "*"
# pytest-cov = "*"

[requires]
python_version = "3.8"
